/* CSS for index Page  */
.Slides
{
    margin-top: 10px;
}

.SlideShow
{
    width: 100%;
    height: 500px;
    
}

.item
{
    margin: 30px;
    width: 300px;
    height: 348px;
    display: inline;
    float: left;    
}

/* For text on slider */
.to-right
{
    position: absolute;
    top: 50%;
    right: 130px;   
}

.to-left
{
    position: absolute;
    top: 50%;
    left: 130px;
    
}
